@import 'tailwindcss';

@theme {
  --color-light-red: #8c4351;
  --color-light-orange: #965027;
  --color-light-yellow: #8f5e15;
  --color-light-foreground: #634f30;
  --color-light-green: #385f0d;
  --color-light-cyan: #33635c;
  --color-light-blue: #006c86;
  --color-light-dark-blue: #0f4b6e;
  --color-light-sky-blue: #2959aa;
  --color-light-purple: #5a3e8e;
  --color-light-on-primary: #343b58;
  --color-light-surface: #40434f;
  --color-light-primary: #6c6e75;
  --color-light-background: #e6e7ed;

  --color-dark-red: #f7768e;
  --color-dark-orange: #ff9e64;
  --color-dark-yellow: #e0af68;
  --color-dark-foreground: #cfc9c2;
  --color-dark-green: #9ece6a;
  --color-dark-cyan: #73dacb;
  --color-dark-light-cyan: #b4f9f8;
  --color-dark-blue: #2ac3de;
  --color-dark-light-blue: #7dcfff;
  --color-dark-sky-blue: #7aa2f7;
  --color-dark-purple: #bb9af7;
  --color-dark-light-purple: #c0caf5;
  --color-dark-on-primary: #a9b1d6;
  --color-dark-primary: #9aa5ce;
  --color-dark-dark-blue: #565f89;
  --color-dark-surface: #414868;
  --color-dark-background: #1a1b26;
}

@custom-variant dark (&:where(.dark, .dark *));
